<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="question">
      <h2 data-cy="questionDetailsHeading"><span>Question</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ question.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ question.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ question.description }}</span>
        </dd>
        <dt><span>Topic</span></dt>
        <dd>
          <span>{{ question.topic }}</span>
        </dd>
        <dt><span>Subject</span></dt>
        <dd>
          <div *ngIf="question.subject">
            <a [routerLink]="['/subject', question.subject?.id, 'view']">{{ question.subject?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
