<div>
  <br />
  <div class="row" *ngIf="currSubject == null">
    <div class="col-md-12">
      <h3 class="text-center">{{ domain?.name! }}</h3>
      <h4 class="text-center">{{ branch?.name! }}</h4>
      <div style="padding: 20px" *ngFor="let sem of semesters">
        <div class="card">
          <div class="card-header bg-info">
            <b>{{ sem.name }}</b>
          </div>
          <div class="card-body">
            <ul>
              <ng-container *ngFor="let sub of subjects">
                <li *ngIf="sub.semester?.id == sem.id" class="nav-item">
                  <a
                    class="nav-link"
                    style="font-size: medium; font-weight: bolder"
                    href="/landing/{{ branchId }}/view?subject={{ sub.id }}"
                    >{{ sub.name }}</a
                  >
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currSubject != null" style="display: block">
  <!--<jhi-question-list [subjectId]="currSubject.id!"></jhi-question-list>-->
</div>
