<div class="row justify-content-center">
  <div class="col-11">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-content-heading" data-cy="ContentCreateUpdateHeading">Create or edit a Content</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null"></option>
            <option value="PARA">PARA</option>
            <option value="IMAGE">IMAGE</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_text"
            >Text (Use Markdown format, Refer:
            <a href="https://jfcere.github.io/ngx-markdown/cheat-sheet" target="_blank">https://jfcere.github.io/ngx-markdown/cheat-sheet</a
            >)</label
          >
          <textarea class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" cols="100" rows="10"></textarea>
          <!--<input type="text" class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" />-->
        </div>
        <div style="border: 1px solid; border-radius: 5px; padding: 10px; overflow: auto; height: 200px">
          <markdown [data]="editForm.get('text')!.value" emoji katex></markdown>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_filePath">File Path</label>
          <input type="text" class="form-control" name="filePath" id="field_filePath" data-cy="filePath" formControlName="filePath" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_seqNum">Seq Num</label>
          <input type="number" class="form-control" name="seqNum" id="field_seqNum" data-cy="seqNum" formControlName="seqNum" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_question">Question</label>
          <select class="form-control" id="field_question" data-cy="question" name="question" formControlName="question">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="questionOption.id === editForm.get('question')!.value?.id ? editForm.get('question')!.value : questionOption"
              *ngFor="let questionOption of questionsSharedCollection; trackBy: trackQuestionById"
            >
              {{ questionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
