<div>
  <h2 id="page-heading" data-cy="FileMetaDataHeading">
    <span>File Meta Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file-meta-data"
        [routerLink]="['/file-meta-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new File Meta Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fileMetaData?.length === 0">
    <span>No fileMetaData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fileMetaData && fileMetaData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Key</span></th>
          <th scope="col"><span>Value</span></th>
          <th scope="col"><span>File Details</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileMetaData of fileMetaData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/file-meta-data', fileMetaData.id, 'view']">{{ fileMetaData.id }}</a>
          </td>
          <td>{{ fileMetaData.key }}</td>
          <td>{{ fileMetaData.value }}</td>
          <td>
            <div *ngIf="fileMetaData.fileDetails">
              <a [routerLink]="['/file-details', fileMetaData.fileDetails?.id, 'view']">{{ fileMetaData.fileDetails?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/file-meta-data', fileMetaData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/file-meta-data', fileMetaData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(fileMetaData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
