<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <span style="margin: 2px">Page Size:</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nz-list class="question-list shadow-sm p-3 mb-5 bg-white rounded">
        <div>
          <nz-list-item class="zoom" *ngFor="let question of questions">
            <ng-container>
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <a href="#">{{ question.title }}</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action
                  ><span *ngFor="let questionTag of questionTags" class="badge badge-pill badge-primary">{{
                    questionTag.value
                  }}</span></nz-list-item-action
                >
              </ul>
            </ng-container>
          </nz-list-item>
        </div>
      </nz-list>
    </div>
  </div>
  <div>
    <nz-pagination
      [(nzPageIndex)]="currentPageIndex"
      [nzResponsive]="true"
      [nzTotal]="questionCount"
      [nzPageSize]="pageSize"
      [nzSize]="'small'"
      (nzPageIndexChange)="changePageIndex($event)"
    ></nz-pagination>
  </div>
  <br />
  <br />
</div>
