<div class="row">
  <nz-carousel nzAutoPlay style="height: 400px">
    <div nz-carousel-content>
      <img src="../../content/images/home1.jpg" class="stretch" alt="Los Angeles" />
    </div>
    <div nz-carousel-content>
      <img src="../../content/images/home2.jpg" class="stretch" alt="Los Angeles" />
    </div>
    <div nz-carousel-content>
      <img src="../../content/images/home3.jpg" class="stretch" alt="Los Angeles" />
    </div>
  </nz-carousel>
  <div *ngIf="false" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../content/images/home1.jpg" class="stretch" alt="Los Angeles" />
      </div>
      <div class="carousel-item">
        <img src="../../content/images/home2.jpg" class="stretch" alt="Chicago" />
      </div>
      <div class="carousel-item">
        <img src="../../content/images/home3.jpg" class="stretch" alt="New York" />
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<br />
<div class="row">
  <div class="container">
    <h2 class="text-center">What Is Important (WII) ?</h2>
    <h5 class="text-center">
      This site is specifically designed to help all the acedmic student for preparing their all exams in their curriculam
    </h5>
  </div>
</div>
<br />

<div class="row" id="courses">
  <div class="container">
    <h2 class="text-center">Select your branch & start preparing</h2>
  </div>
  <div class="container">
    <div class="domain-branch-view">
      <nz-tabset style="height: 420px" [nzTabPosition]="nzTabPosition">
        <nz-tab *ngFor="let domain of domains" [nzTitle]="domain.name!">
          <div class="row">
            <div *ngFor="let b of domain.branches" class="col-md-4">
              <div class="branch-item">
                <fa-icon icon="star"></fa-icon>
                <span
                  ><a href="{{ 'landing/' + b.id + '/view' }}">{{ b.name }}</a></span
                >
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
<br />

<section class="service-section" id="features">
  <div class="container">
    <h1 class="text-center">Top Features</h1>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-items">
          <div class="icon">
            <fa-icon icon="stop-circle"></fa-icon>
          </div>
          <h4 class="text-center"><a>One-Stop Solutions</a></h4>
          <p class="text-center">
            Rather than coding from scratch, Bootstrap enables you to utilize ready made blocks of code to help you get started.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-items">
          <div class="icon">
            <fa-icon icon="signal"></fa-icon>
          </div>
          <h4 class="text-center"><a>Frequently Ask Questions</a></h4>
          <p class="text-center">
            Creating mobile ready websites is a breeze with Bootstrap thanks to the fluid grid layout that dynamically adjusts to the proper
            screen resolution.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-items">
          <div class="icon">
            <fa-icon icon="redo-alt"></fa-icon>
          </div>
          <h4 class="text-center"><a>Recently Asked Question</a></h4>
          <p class="text-center">Bootstrap ensures consistency regardless of who’s working on the project.</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-items">
          <div class="icon">
            <fa-icon icon="globe-americas"></fa-icon>
          </div>
          <h4 class="text-center"><a>All Subjects Covered</a></h4>
          <p class="text-center">Bootstrap can be tailor made according to the specifications of your project.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<br />

<section id="about-us">
  <div class="container">
    <h1 class="text-center">About Us</h1>
    <h3 class="text-center">APT Solutions</h3>
    <p class="text-center">We are dedicated towards making people's life easier with the help of technology</p>
  </div>
</section>
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="/action_page.php">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="pwd">Message: </label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-md-6 item text">
          <h2 style="color: white">APT Solution</h2>
          <p>
            Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis
            tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
          </p>
          <br /><br /><br /><br />
          <div class="col item social">
            <a href="#"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
            <a href="#"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
            <a href="#"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
