<div>
  <h2 id="page-heading" data-cy="DomainHeading">
    <span>Domains</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-domain"
        [routerLink]="['/domain/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Domain </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="domains?.length === 0">
    <span>No domains found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="domains && domains.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domain of domains; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/domain', domain.id, 'view']">{{ domain.id }}</a>
          </td>
          <td>{{ domain.name }}</td>
          <td>{{ domain.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/domain', domain.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/domain', domain.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(domain)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
