<div class="container" style="padding: 30px">
  <div class="row">
    <div class="col-md-7">
      <jhi-alert-error></jhi-alert-error>
      <div>
        <button class="btn btn-warning" (click)="addPara()">Add Para</button>
        <button class="btn btn-warning" type="button" (click)="fileInput.click()">
          <span>Add Image</span>
          <input #fileInput type="file" (change)="addImg(fileInput)" style="display: none" />
        </button>
        <button class="btn btn-warning" (click)="save()">Save</button>
      </div>
      <div>
        Question
        <div class="question" style="border: 1px solid">
          <textarea [(ngModel)]="question!.title" style="width: 100%; height: 200px"></textarea>
        </div>
        Answer
        <div>
          <div *ngFor="let c of contents" class="content">
            <div *ngIf="c.type == 'PARA'">
              <nz-tabset>
                <nz-tab nzTitle="Write">
                  <div class="row" style="padding: 20px">
                    <textarea [(ngModel)]="c.text" style="width: 100%; height: 200px"></textarea>
                  </div>
                </nz-tab>
                <nz-tab nzTitle="Preview">
                  <div class="row" style="padding: 20px">
                    <markdown [data]="c.text!" emoji katex style="width: 100%; height: 200px; overflow: auto"></markdown>
                  </div>
                </nz-tab>
              </nz-tabset>
            </div>
            <img *ngIf="c.type == 'IMAGE'" [src]="previewImg(c.seqNum)" height="300px" width="200px" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="tag">
        <nz-tag *ngFor="let tag of tags" [nzMode]="'closeable'" (nzOnClose)="handleClose(tag)">
          {{ sliceTagName(tag) }}
        </nz-tag>
        <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
          <i nz-icon nzType="plus"></i> New Tag
        </nz-tag>
        <input
          #inputElement
          nz-input
          nzSize="small"
          *ngIf="inputVisible"
          type="text"
          [(ngModel)]="tagValue"
          style="width: 78px"
          (blur)="handleInputConfirm()"
          (keydown.enter)="handleInputConfirm()"
        />
      </div>
    </div>
  </div>
</div>
